.footer
{
    background-color: rgb(95, 143, 174);
    border: 1px solid black;
    padding-top:50px ;
    padding-bottom: 100px;
}
.heart
{
    margin-left: 650px;
    font-size: 20px;
}
.heartimg
{
    width: 20px;
}